body {
  font-family: 'Unbounded', cursive;
  background-image: url(wavy.svg), linear-gradient(#010034, #020111);
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input {
  border: none;
  width: 200px;
  border-radius: 10px;
  height: 36px;
  text-align: center;
  margin: 1em;
  font-family: 'Unbounded', cursive;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.logo {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 100px;
  font-size: 1.4em;
}
